
  .ham {
    position: absolute;
    z-index: 1000;
    margin-top: 25px;
    top: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-image: url("../images/hmenu.png");
    background-size: 120%;
  }
  
  .showClose {
    background-image: url("../images/closeButton.png");
  }
  
  .navBar {
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: white;
    transform: translateY(-100%);
    transition: transform 0.2s ease;
  }
  
  
  .showNav {
    transform: translateY(0);
  }
  
  .navBar ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .navBar ul li a {
    color: orange;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    text-decoration: none;
    font-family: gilroy;
    font-weight: 700;
    font-size: 40px;
  }
  
  .navBar ul li a:hover, .navbar ul li a:focus {
    border-bottom: 2px solid orange;
  }

a{
    text-decoration: none;
    color: white;
}

.headerImg{
    align-items: top;
}

body{
    margin-top: 30px;
    background: url(../images/Night\ Sky\ \(3\ of\ 4\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    font-family: gilroy;
    font-weight: 700;
    text-align: center;
    color: #f2f2f2;   
}

h2{
    color: #f2f2f2;
    font-family: gilroy;
    font-weight: 700;
}

.hpcontent{
    margin: 800,800;
}

p{
    font-family: filson pro;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin: auto;
    color: #f2f2f2;
}

.contentContainer{
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px darkgray;
    border-radius: 3px;
    margin: auto;
    text-align: center;
    padding: 30px;
    max-width: 700px;
}

#headShot{
    margin: auto;
    box-shadow: 0px 0px 8px black;
}

#projButton{
    background-color: #46A9FD;
    color: #f2f2f2;
    padding: 15px;
    border: none;
    font-family: gilroy;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 3px 5px black;
}

#projButton:hover{
    background-color: orange;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

#footerContent{
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
}

#contactButton{
    background-color: #46A9FD;
    color: #f2f2f2;
    font-family: gilroy;
    font-weight: 700;
    font-size: 22px;
    border: none;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0px 3px 5px black;
}

#contactButton:hover{
    background-color: orange;
}